[Desktop Entry]
Version=1.0
Type=Application

Name=Doneify
Comment=A productivity app that lets you track your tasks
Categories=Utility;Productivity;

Icon=doneify_logo
Exec=Doneify
Terminal=false
StartupWMClass=Doneify